In [1]:
import pandas as pd
import numpy as np

# Load sample submission
df = pd.read_csv('/home/data/sample_submission.csv')
print(f'Shape: {df.shape}')
print(f'\nColumns: {df.columns.tolist()}')
print(f'\nFirst 20 rows:')
df.head(20)

Shape: (20100, 4)

Columns: ['id', 'x', 'y', 'deg']

First 20 rows:

       id           x           y     deg
0   001_0        s0.0        s0.0   s90.0
1   002_0        s0.0        s0.0   s90.0
2   002_1   s0.202736  s-0.511271   s90.0
3   003_0        s0.0        s0.0   s90.0
4   003_1   s0.202736  s-0.511271   s90.0
5   003_2     s0.5206   s0.177413  s180.0
6   004_0        s0.0        s0.0   s90.0
7   004_1   s0.202736  s-0.511271   s90.0
8   004_2     s0.5206   s0.177413  s180.0
9   004_3  s-0.818657  s-0.228694  s180.0
10  005_0        s0.0        s0.0   s90.0
11  005_1   s0.202736  s-0.511271   s90.0
12  005_2     s0.5206   s0.177413  s180.0
13  005_3  s-0.818657  s-0.228694  s180.0
14  005_4   s0.111852   s0.893022  s180.0
15  006_0        s0.0        s0.0   s90.0
16  006_1   s0.202736  s-0.511271   s90.0
17  006_2     s0.5206   s0.177413  s180.0
18  006_3  s-0.818657  s-0.228694  s180.0
19  006_4   s0.111852   s0.893022  s180.0

In [2]:
# Understand the structure - 20100 rows = sum(1 to 200) = 200*201/2 = 20100
print(f'Expected rows: {sum(range(1, 201))} = {200*201//2}')
print(f'Actual rows: {len(df)}')

# Parse the id to understand grouping
df['n'] = df['id'].apply(lambda x: int(x.split('_')[0]))
df['tree_idx'] = df['id'].apply(lambda x: int(x.split('_')[1]))

print(f'\nNumber of unique n values: {df["n"].nunique()}')
print(f'Range of n: {df["n"].min()} to {df["n"].max()}')

# Check tree counts per n
tree_counts = df.groupby('n').size()
print(f'\nTree counts match n? {all(tree_counts.index == tree_counts.values)}')

Expected rows: 20100 = 20100
Actual rows: 20100

Number of unique n values: 200
Range of n: 1 to 200

Tree counts match n? True