# Quick Data Exploration - Christmas Tree Packing

In [1]:
import pandas as pd
import numpy as np

# Load sample submission to understand data format
df = pd.read_csv('/home/data/sample_submission.csv')
print(f"Shape: {df.shape}")
print(f"\nColumns: {df.columns.tolist()}")
print(f"\nFirst 10 rows:")
df.head(10)

Shape: (20100, 4)

Columns: ['id', 'x', 'y', 'deg']

First 10 rows:

      id           x           y     deg
0  001_0        s0.0        s0.0   s90.0
1  002_0        s0.0        s0.0   s90.0
2  002_1   s0.202736  s-0.511271   s90.0
3  003_0        s0.0        s0.0   s90.0
4  003_1   s0.202736  s-0.511271   s90.0
5  003_2     s0.5206   s0.177413  s180.0
6  004_0        s0.0        s0.0   s90.0
7  004_1   s0.202736  s-0.511271   s90.0
8  004_2     s0.5206   s0.177413  s180.0
9  004_3  s-0.818657  s-0.228694  s180.0

In [3]:
# Understand the structure: 200 configurations with 1 to 200 trees each
# Total rows = 1 + 2 + 3 + ... + 200 = 200*201/2 = 20100

# Check the distribution of configurations
df['n_trees'] = df['id'].apply(lambda x: int(x.split('_')[0]))
df['tree_idx'] = df['id'].apply(lambda x: int(x.split('_')[1]))

print(f"Number of configurations: {df['n_trees'].nunique()}")
print(f"Min trees: {df['n_trees'].min()}, Max trees: {df['n_trees'].max()}")
print(f"\nTotal expected rows: {200*201//2}")
print(f"Actual rows: {len(df)}")

Number of configurations: 200
Min trees: 1, Max trees: 200

Total expected rows: 20100
Actual rows: 20100