In [1]:
import pandas as pd
import numpy as np

# Load sample submission
df = pd.read_csv('/home/data/sample_submission.csv')
print(f"Shape: {df.shape}")
print(f"\nColumns: {df.columns.tolist()}")
print(f"\nFirst 20 rows:")
df.head(20)

Shape: (20100, 4)

Columns: ['id', 'x', 'y', 'deg']

First 20 rows:

       id           x           y     deg
0   001_0        s0.0        s0.0   s90.0
1   002_0        s0.0        s0.0   s90.0
2   002_1   s0.202736  s-0.511271   s90.0
3   003_0        s0.0        s0.0   s90.0
4   003_1   s0.202736  s-0.511271   s90.0
5   003_2     s0.5206   s0.177413  s180.0
6   004_0        s0.0        s0.0   s90.0
7   004_1   s0.202736  s-0.511271   s90.0
8   004_2     s0.5206   s0.177413  s180.0
9   004_3  s-0.818657  s-0.228694  s180.0
10  005_0        s0.0        s0.0   s90.0
11  005_1   s0.202736  s-0.511271   s90.0
12  005_2     s0.5206   s0.177413  s180.0
13  005_3  s-0.818657  s-0.228694  s180.0
14  005_4   s0.111852   s0.893022  s180.0
15  006_0        s0.0        s0.0   s90.0
16  006_1   s0.202736  s-0.511271   s90.0
17  006_2     s0.5206   s0.177413  s180.0
18  006_3  s-0.818657  s-0.228694  s180.0
19  006_4   s0.111852   s0.893022  s180.0

In [2]:
# Understand the structure - total trees per configuration
# id format: NNN_T where NNN is tree count (001-200) and T is tree index

# Count trees per configuration
df['n_trees'] = df['id'].apply(lambda x: int(x.split('_')[0]))
print(f"Configurations: {df['n_trees'].nunique()} (from 1 to {df['n_trees'].max()})")
print(f"\\nTotal rows: {len(df)}")
print(f"Expected rows: {sum(range(1, 201))} = sum(1 to 200)")

# Verify
print(f"\\nRows per configuration (first 10):")
df.groupby('n_trees').size().head(10)

Configurations: 200 (from 1 to 200)
\nTotal rows: 20100
Expected rows: 20100 = sum(1 to 200)
\nRows per configuration (first 10):

n_trees
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64