# Christmas Tree Packing - EDA

Exploring the problem structure and sample submission.

In [1]:
import pandas as pd
import numpy as np

# Load sample submission
df = pd.read_csv('/home/data/sample_submission.csv')
print(f'Shape: {df.shape}')
print(f'Columns: {df.columns.tolist()}')
df.head(10)

Shape: (20100, 4)
Columns: ['id', 'x', 'y', 'deg']

      id           x           y     deg
0  001_0        s0.0        s0.0   s90.0
1  002_0        s0.0        s0.0   s90.0
2  002_1   s0.202736  s-0.511271   s90.0
3  003_0        s0.0        s0.0   s90.0
4  003_1   s0.202736  s-0.511271   s90.0
5  003_2     s0.5206   s0.177413  s180.0
6  004_0        s0.0        s0.0   s90.0
7  004_1   s0.202736  s-0.511271   s90.0
8  004_2     s0.5206   s0.177413  s180.0
9  004_3  s-0.818657  s-0.228694  s180.0

In [1]:
# Parse the data - strip 's' prefix and analyze\ndf['x_val'] = df['x'].str.lstrip('s').astype(float)\ndf['y_val'] = df['y'].str.lstrip('s').astype(float)\ndf['deg_val'] = df['deg'].str.lstrip('s').astype(float)\ndf['n'] = df['id'].apply(lambda x: int(x.split('_')[0]))\ndf['tree_idx'] = df['id'].apply(lambda x: int(x.split('_')[1]))\n\nprint(f'Number of configurations (n values): {df[\"n\"].nunique()}')\nprint(f'N range: {df[\"n\"].min()} to {df[\"n\"].max()}')\nprint(f'Total trees: {len(df)}')\nprint(f'Expected total: {sum(range(1, 201))} = 200*201/2')

In [2]:
# Calculate score for each configuration\ndef calc_side_length(group):\n    x_range = group['x_val'].max() - group['x_val'].min()\n    y_range = group['y_val'].max() - group['y_val'].min()\n    # Note: This is approximate - actual bounding box needs polygon vertices\n    return max(x_range, y_range)\n\nscores = []\nfor n, group in df.groupby('n'):\n    side = calc_side_length(group)\n    score = side**2 / n\n    scores.append({'n': n, 'side': side, 'score': score})\n\nscores_df = pd.DataFrame(scores)\nprint(f'Total approximate score (center-based): {scores_df[\"score\"].sum():.6f}')\nprint(f'\\nTop 10 highest scoring configurations:')\nprint(scores_df.nlargest(10, 'score'))

In [3]:
# Analyze rotation angles used\nprint('Rotation angle distribution:')\nprint(df['deg_val'].describe())\nprint(f'\\nUnique angles: {df[\"deg_val\"].nunique()}')\nprint(f'\\nMost common angles:')\nprint(df['deg_val'].value_counts().head(10))