# Christmas Tree Packing - Quick EDA

In [1]:
import pandas as pd
import numpy as np

# Load sample submission
df = pd.read_csv('/home/data/sample_submission.csv')
print(f"Shape: {df.shape}")
print(f"\nFirst 10 rows:")
df.head(10)

Shape: (20100, 4)

First 10 rows:

      id           x           y     deg
0  001_0        s0.0        s0.0   s90.0
1  002_0        s0.0        s0.0   s90.0
2  002_1   s0.202736  s-0.511271   s90.0
3  003_0        s0.0        s0.0   s90.0
4  003_1   s0.202736  s-0.511271   s90.0
5  003_2     s0.5206   s0.177413  s180.0
6  004_0        s0.0        s0.0   s90.0
7  004_1   s0.202736  s-0.511271   s90.0
8  004_2     s0.5206   s0.177413  s180.0
9  004_3  s-0.818657  s-0.228694  s180.0

In [2]:
# Calculate score for sample submission
def strip_s(val):
    return float(str(val).lstrip('s'))

df['x_val'] = df['x'].apply(strip_s)
df['y_val'] = df['y'].apply(strip_s)
df['deg_val'] = df['deg'].apply(strip_s)
df['n'] = df['id'].apply(lambda x: int(x.split('_')[0]))

# Calculate bounding box side for each n
scores = []
for n in range(1, 201):
    group = df[df['n'] == n]
    # Simple bounding box (not accounting for tree shape - just centers)
    x_range = group['x_val'].max() - group['x_val'].min()
    y_range = group['y_val'].max() - group['y_val'].min()
    # This is approximate - actual side depends on tree polygon bounds
    side_approx = max(x_range, y_range) + 1.0  # Add ~1 for tree size
    score_n = side_approx**2 / n
    scores.append({'n': n, 'side_approx': side_approx, 'score_n': score_n})

scores_df = pd.DataFrame(scores)
print(f"Approximate total score (rough estimate): {scores_df['score_n'].sum():.2f}")
print(f"\\nScore breakdown by n (first 20):")
scores_df.head(20)

Approximate total score (rough estimate): 157.01
\nScore breakdown by n (first 20):

     n  side_approx   score_n
0    1     1.000000  1.000000
1    2     1.511271  1.141970
2    3     1.688684  0.950551
3    4     2.339257  1.368031
4    5     2.404293  1.156125
5    6     2.404293  0.963437
6    7     2.751647  1.081652
7    8     2.841115  1.008992
8    9     2.942984  0.962351
9   10     2.942984  0.866115
10  11     2.942984  0.787378
11  12     3.329145  0.923601
12  13     3.547386  0.967996
13  14     3.547386  0.898853
14  15     3.547386  0.838930
15  16     3.591812  0.806320
16  17     3.634587  0.777072
17  18     3.758437  0.784769
18  19     3.758437  0.743466
19  20     3.899402  0.760267

In [3]:
# Analyze angle distribution
print("Angle distribution in sample submission:")
print(df['deg_val'].value_counts().head(20))
print(f"\\nUnique angles: {df['deg_val'].nunique()}")

Angle distribution in sample submission:
deg_val
180.0    5908
90.0     5348
0.0      4779
270.0    4065
Name: count, dtype: int64
\nUnique angles: 4