In [1]:
import pandas as pd
import numpy as np
import os

data_dir = '/home/data'
full_data = pd.read_csv(os.path.join(data_dir, 'catechol_full_data_yields.csv'))
single_data = pd.read_csv(os.path.join(data_dir, 'catechol_single_solvent_yields.csv'))

print("Full Data Shape:", full_data.shape)
print("Single Data Shape:", single_data.shape)

display(full_data.head())
display(single_data.head())

Full Data Shape: (1227, 19)
Single Data Shape: (656, 13)

,EXP NUM,SOLVENT A NAME,SOLVENT B NAME,SolventB%,Residence Time,Temperature,SM,Product 2,Product 3,SM SMILES,Product 2 SMILES,Product 3 SMILES,SOLVENT A SMILES,SOLVENT B SMILES,SOLVENT A Ratio,SOLVENT B Ratio,Reaction SMILES A,Reaction SMILES B,RAMP NUM
0,0,Methanol,"Ethylene Glycol [1,2-Ethanediol]",0.0,2.001019,175.0,0.903118,0.000000,0.000000,C=CCOC1=C(OCC=C)C=CC=C1,OC1=C(O)C(CC=C)=CC=C1CC=C,OC1=C(O)C(CC=C)=C(CC=C)C=C1,CO,OCCO,[1.0],[1.0],C=CCOC1=C(OCC=C)C=CC=C1.CO>>OC1=C(O)C(CC=C)=CC...,C=CCOC1=C(OCC=C)C=CC=C1.OCCO>>OC1=C(O)C(CC=C)=...,0
1,0,Methanol,"Ethylene Glycol [1,2-Ethanediol]",0.0,3.978167,175.0,0.898313,0.000000,0.000000,C=CCOC1=C(OCC=C)C=CC=C1,OC1=C(O)C(CC=C)=CC=C1CC=C,OC1=C(O)C(CC=C)=C(CC=C)C=C1,CO,OCCO,[1.0],[1.0],C=CCOC1=C(OCC=C)C=CC=C1.CO>>OC1=C(O)C(CC=C)=CC...,C=CCOC1=C(OCC=C)C=CC=C1.OCCO>>OC1=C(O)C(CC=C)=...,0
2,0,Methanol,"Ethylene Glycol [1,2-Ethanediol]",0.0,7.011797,175.0,0.897077,0.006710,0.005429,C=CCOC1=C(OCC=C)C=CC=C1,OC1=C(O)C(CC=C)=CC=C1CC=C,OC1=C(O)C(CC=C)=C(CC=C)C=C1,CO,OCCO,[1.0],[1.0],C=CCOC1=C(OCC=C)C=CC=C1.CO>>OC1=C(O)C(CC=C)=CC...,C=CCOC1=C(OCC=C)C=CC=C1.OCCO>>OC1=C(O)C(CC=C)=...,0
3,0,Methanol,"Ethylene Glycol [1,2-Ethanediol]",0.0,10.031130,175.0,0.876802,0.014084,0.010995,C=CCOC1=C(OCC=C)C=CC=C1,OC1=C(O)C(CC=C)=CC=C1CC=C,OC1=C(O)C(CC=C)=C(CC=C)C=C1,CO,OCCO,[1.0],[1.0],C=CCOC1=C(OCC=C)C=CC=C1.CO>>OC1=C(O)C(CC=C)=CC...,C=CCOC1=C(OCC=C)C=CC=C1.OCCO>>OC1=C(O)C(CC=C)=...,0
4,0,Methanol,"Ethylene Glycol [1,2-Ethanediol]",0.0,13.079227,175.0,0.857585,0.019298,0.013467,C=CCOC1=C(OCC=C)C=CC=C1,OC1=C(O)C(CC=C)=CC=C1CC=C,OC1=C(O)C(CC=C)=C(CC=C)C=C1,CO,OCCO,[1.0],[1.0],C=CCOC1=C(OCC=C)C=CC=C1.CO>>OC1=C(O)C(CC=C)=CC...,C=CCOC1=C(OCC=C)C=CC=C1.OCCO>>OC1=C(O)C(CC=C)=...,0

,EXP NUM,Residence Time,Temperature,SM,Product 2,Product 3,SM SMILES,Product 2 SMILES,Product 3 SMILES,SOLVENT NAME,SOLVENT SMILES,SOLVENT Ratio,Reaction SMILES
0,0,2.001019,175.0,0.903118,0.000000,0.000000,C=CCOC1=C(OCC=C)C=CC=C1,OC1=C(O)C(CC=C)=CC=C1CC=C,OC1=C(O)C(CC=C)=C(CC=C)C=C1,Methanol,CO,[1.0],C=CCOC1=C(OCC=C)C=CC=C1.CO>>OC1=C(O)C(CC=C)=CC...
1,0,3.978167,175.0,0.898313,0.000000,0.000000,C=CCOC1=C(OCC=C)C=CC=C1,OC1=C(O)C(CC=C)=CC=C1CC=C,OC1=C(O)C(CC=C)=C(CC=C)C=C1,Methanol,CO,[1.0],C=CCOC1=C(OCC=C)C=CC=C1.CO>>OC1=C(O)C(CC=C)=CC...
2,0,7.011797,175.0,0.897077,0.006710,0.005429,C=CCOC1=C(OCC=C)C=CC=C1,OC1=C(O)C(CC=C)=CC=C1CC=C,OC1=C(O)C(CC=C)=C(CC=C)C=C1,Methanol,CO,[1.0],C=CCOC1=C(OCC=C)C=CC=C1.CO>>OC1=C(O)C(CC=C)=CC...
3,0,10.031130,175.0,0.876802,0.014084,0.010995,C=CCOC1=C(OCC=C)C=CC=C1,OC1=C(O)C(CC=C)=CC=C1CC=C,OC1=C(O)C(CC=C)=C(CC=C)C=C1,Methanol,CO,[1.0],C=CCOC1=C(OCC=C)C=CC=C1.CO>>OC1=C(O)C(CC=C)=CC...
4,0,13.079227,175.0,0.857585,0.019298,0.013467,C=CCOC1=C(OCC=C)C=CC=C1,OC1=C(O)C(CC=C)=CC=C1CC=C,OC1=C(O)C(CC=C)=C(CC=C)C=C1,Methanol,CO,[1.0],C=CCOC1=C(OCC=C)C=CC=C1.CO>>OC1=C(O)C(CC=C)=CC...

In [2]:
lookup_files = [
    'acs_pca_descriptors_lookup.csv',
    'drfps_catechol_lookup.csv',
    'fragprints_lookup.csv',
    'spange_descriptors_lookup.csv'
]

for f in lookup_files:
    df = pd.read_csv(os.path.join(data_dir, f))
    print(f"\n{f} Shape: {df.shape}")
    display(df.head(2))

acs_pca_descriptors_lookup.csv Shape: (24, 6)

,SOLVENT NAME,PC1,PC2,PC3,PC4,PC5
0,Methanol,-8.72651,-5.31265,1.25112,-1.85931,-0.620266
1,"Ethylene Glycol [1,2-Ethanediol]",-10.71010,-1.88606,4.37327,1.45192,-1.034370

drfps_catechol_lookup.csv Shape: (24, 2049)

,SOLVENT NAME,0,1,2,3,4,5,6,7,8,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,Methanol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Ethylene Glycol [1,2-Ethanediol]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

fragprints_lookup.csv Shape: (24, 2134)

,SOLVENT NAME,0,1,2,3,4,5,6,7,8,...,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132
0,Methanol,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Ethylene Glycol [1,2-Ethanediol]",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

spange_descriptors_lookup.csv Shape: (26, 14)

,SOLVENT NAME,dielectric constant,ET(30),alpha,beta,pi*,SA,SB,SP,SdP,N,n,f(n),delta
0,Cyclohexane,2.02,30.9,0.0,0.00,0.00,0.0,0.073,0.683,0.000,0.00927,1.426,0.25622,16.8
1,Ethyl Acetate,6.02,38.1,0.0,0.45,0.55,0.0,0.542,0.656,0.603,0.01021,1.372,0.22728,18.4

In [3]:
# Check target sum
full_data['yield_sum'] = full_data['SM'] + full_data['Product 2'] + full_data['Product 3']
print("Yield Sum Stats:")
print(full_data['yield_sum'].describe())

# Check correlations
print("\nTarget Correlations:")
print(full_data[['SM', 'Product 2', 'Product 3']].corr())

# Check unique solvents
print("\nUnique Solvents in Full Data (A):", full_data['SOLVENT A NAME'].nunique())
print("Unique Solvents in Full Data (B):", full_data['SOLVENT B NAME'].nunique())
print("Unique Solvents in Single Data:", single_data['SOLVENT NAME'].nunique())

Yield Sum Stats:
count    1227.000000
mean        0.803472
std         0.209172
min         0.011194
25%         0.737871
50%         0.872138
75%         0.942168
max         1.123258
Name: yield_sum, dtype: float64

Target Correlations:
                 SM  Product 2  Product 3
SM         1.000000  -0.870110  -0.772187
Product 2 -0.870110   1.000000   0.932859
Product 3 -0.772187   0.932859   1.000000

Unique Solvents in Full Data (A): 13
Unique Solvents in Full Data (B): 13
Unique Solvents in Single Data: 24

In [4]:
all_solvents_full = set(full_data['SOLVENT A NAME']).union(set(full_data['SOLVENT B NAME']))
all_solvents_single = set(single_data['SOLVENT NAME'])

print("Solvents in Full Data:", len(all_solvents_full))
print("Solvents in Single Data:", len(all_solvents_single))
print("Missing in Full:", all_solvents_single - all_solvents_full)
print("Missing in Single:", all_solvents_full - all_solvents_single)

Solvents in Full Data: 24
Solvents in Single Data: 24
Missing in Full: set()
Missing in Single: set()